$bgc : rgb(144, 207, 197);
$col : rgb(245, 247, 246);
$linkcol : rgb(16, 75, 122) ;

body{
    background-color: $bgc;
    color: $col;
    a{
        color: $linkcol;
        text-decoration: none;
        font-weight: 700;
    }
}